/* Estilos para el contenedor del piano */
.piano-header-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #27272a; /* Borde ligeramente más claro */
  min-height: 120px;
}